@use 'variables'
@use 'mixins'

*
    font-family: 'Josefin Sans'
    font-size: 10px
    padding: 0
    margin: 0 auto
    box-sizing: border-box
body
    background-color: variables.$bg-color
    color: variables.$text-color
    a
        color: variables.$text-color
        text-decoration: none
        transition: .4s
    ul
        list-style: none

.header
    display: flex
    justify-content: space-between
    @include mixins.container
    @include mixins.mobile
        padding: 1.1rem

    &-brand
        color: variables.$primary-color 
        font-size: 3rem
    &-navbar
        ul
            height: 100%
            @include mixins.flex-center
            @include mixins.mobile
                display: none
            li
                margin: 0 1rem
                text-transform:  uppercase
                font-size: .8rem
                .active
                    color: variables.$secondary-color
                a
                    &:hover
                        color: variables.$secondary-color

    &-social-media
        ul
            @include mixins.flex-center
            height: 100%
            @include mixins.mobile
                display: none
            li
                margin: 0 1rem
                a
                    &:hover
                        color: variables.$primary-color
@mixin bg-img($img)
    background-image: url('../img/#{$img}') 
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
    filter: grayscale(100%)
    transition: .8s
    border-radius: 5px 

    &:hover
        background-size: 130%
        filter: grayscale(0%)
        background-image: linear-gradiente(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url('../img/#{$img}')

@mixin mobile
    @media(max-width: 425px)
        @content